.App {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.list .item {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  align-items: center;
  cursor: default;
  user-select: none;
}

.list .item .order {
  padding: 5px 10px;
  flex-basis: 50px;
  user-select: none;
}

.list .item .description {
  padding-left: 10px;
}

.list .item .action {
  padding: 0 10px;
  user-select: none;
}

.helper {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  align-items: center;
  cursor: default;
}

.helper .order, .helper .action {
  display: none;
}